<article class="post">
    <div class="title">
        <a href="#">{{title}}</a>
    </div>

    <div>
        <span class="post-content">{{post_content}}</span>
    </div>

    <div class="meta">
        <p class="upvote_count">~ {{vote_count}} {{format_plural "upvote" vote_count}} &#128516; ~</p> Created by: {{user.username}} on {{format_date
        created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>